.bob {
  background: url('../../resources/images/ffxiv_10182018_210551-fs8.png');
}
.headerText {
  text-align: center;
}
.mainContainer {
  margin: 0 auto;
  max-width: max-content;
  padding: 20px;
}
.mainContent {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  z-index: 1;
}
.footer {
  text-align: center;
}
h1 {
  color: #fdee06
}
p {
  color: #8c8c8c
}